<p>prime-ng works!</p>
<div style="display: flex;">

    <p-calendar [maxDate]="maxDate" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
    <p-floatLabel>
        <input id="username" type="text" pInputText />
        <label for="username">Username</label>
    </p-floatLabel>
    <div class="card p-fluid">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">

            <p-chips formControlName="values" />
            <p-button label="Submit" />
        </form>
    </div>
    <div class="card flex flex-wrap justify-content-center gap-3">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search" />
        </p-iconField>
        <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-spinner pi-spin" />
            <input type="text" pInputText />
        </p-iconField>
    </div>
</div>